@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
* {
    font-family: 'Roboto', sans-serif;
    color: whitesmoke;
}

.flext_center {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.container {
    width: 90%;
    margin: 0.5rem auto;
}

body {
    background: rgb(36,0,0);
    background: linear-gradient(235deg, rgba(36,0,0,1) 0%, rgba(121,9,81,1) 42%, rgba(87,61,167,1) 80%, rgba(0,121,255,1) 100%);
    background-attachment: fixed;
}
/* nav section  */
.nav_section {
    background: rgb(0 0 0 / 10%);
}
.nav_warper{
    display: flex;
    flex-direction: row;
    align-items: center;
    flex-wrap: nowrap;
    justify-content: space-between;
}
.btn {
    font-weight: bold;
    padding: 3px 10px;
    border: none;
    border-radius: 2px;
    font-size: 16px;
    transition: 0.5s;
    cursor: pointer;
    text-decoration: none;
}
/* cancel_btn  save_btn */
.cancel_btn,
.save_btn {
    color: #000;
}
.save_btn {
    background: #6eff79;
}
.cancel_btn{
    background: #ff8a95;
}
.save_btn:hover,
.cancel_btn:hover {
    color: #fff;
}
.save_btn:hover{
    background: green;
}
.cancel_btn:hover {
    background: red;
}

/* form section  */
.basic_info {
    /* display: flex;
    flex-direction: column;
    flex-wrap: nowrap; 
    align-items: stretch;*/
}
label.input_lable {
    width: 20%;
    display: inline-block;
}
.input {
    padding: 8px 10px;
    border: 0;
    font-size: 18px;
    margin: 5px;
    background: #ffffff40;
    color: black;
    font-weight: bold;
    border-bottom: white 1px solid;
    box-shadow: 0 0 15px 4px rgba(0,0,0,0.06);
    border-radius: 5px;
    width: 100%;
    transition: 0.5s all;
}
.input:hover {
    box-shadow: 0 0 4px rgba(0,0,0,0.5);
}


.input::placeholder {
    color: #000000b8;
}
.input:focus {
    outline: none;
    border-bottom: #00bbff 2px solid;
}

.basic_info {
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: center;
}